// yellow blocks
mixin block-yellow__450_260(link,nametitle)
    a.block-yellow__450_260(href=link)
        .block-yellow__flex
            figure.icon-teachers
            .block-yellow__title #{nametitle}
mixin block-yellow__930_360(link,nametitle)
    a.block-yellow__930_360(href=link)
        .block-yellow__flex
            figure.icon-education
            .block-yellow__title #{nametitle}
mixin block-yellow__690_390(link,nametitle)
    a.block-yellow__690_390(href=link)
        .block-yellow__flex
            figure.icon-wheel
            .block-yellow__title #{nametitle}
mixin block-yellow__690_160(link,nametitle)
    a.block-yellow__690_160(href=link)
        .block-yellow__flex
            figure.icon-education
            .block-yellow__title #{nametitle}
mixin block-yellow__330_200(link,nametitle)
    a.block-yellow__330_200(href=link)
        .block-yellow__flex
            figure.icon-education
            .block-yellow__title #{nametitle}
mixin block-yellow__690_180(link,nametitle)
    a.block-yellow__690_180(href=link)
        .block-yellow__flex
            figure.icon-places
            .block-yellow__title #{nametitle}

// images blocks
mixin block-image__450_260(link,nametitle)
    a.block-image__450_260(href=link)
        .block-image__title #{nametitle}
mixin block-image__930_360(link,nametitle)
    a.block-image__930_360(href=link)
        .block-image__title #{nametitle}
mixin block-image__690_390(link,nametitle)
    a.block-image__690_390(href=link)
        .block-image__title #{nametitle}
mixin block-image__690_160(link,nametitle)
    a.block-image__690_160(href=link)
        .block-image__title #{nametitle}
mixin block-image__330_200(link,nametitle)
    a.block-image__330_200(href=link)
        .block-image__title #{nametitle}
mixin block-image__690_180(link,nametitle)
    a.block-image__690_180(href=link)
        .block-image__title #{nametitle}